html, body{
	height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Avenir', 'Georgia', serif; 
}

.main{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

.containerWrapper {
	opacity: 0;
    max-width: 1300px;
    width:1300px; 
    height:450px;
    margin: 0 auto;
  }

.mainContainer{

	position: relative;
	width: 200%;
	height: 100%;

}

#welcomeSection{
	width: 50%;
	height:100%;
	float: left;

}

.myOrange{
	box-shadow: 0px 6px 0px rgb(183,104,63);
}

.myYellow{
	box-shadow: 0px 6px 0px rgb(203,162,32);
}

.myBlue{
	box-shadow: 0px 6px 0px rgb(70,194,194);
}

.topHeader{
	display: block;
	width: 100%;
	height: 17%;
	background-color: white;
}

#topHeaderItem{
	font-family: 'Avenir', 'Helvetica', serif; 
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: bold;
}

.aboutMeItem{
	display: block;
	text-align: center;
	color: #A0AEB2;
	font-family: 'Avenir', 'Georgia', serif; 
	font-size: 16px;
}

#standsOut{
	font-weight: bold;
}

.imageContainer{
	margin: 20px;
	position: relative;
	float: left;
	display: block;
}

img#smallprofilePic{
	width: 60px;
	height: 60px;
	border-radius: 30px;
	
}

img#profilePic{
	margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}

img{
	-moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

img:hover {
	transform:scale(1.6,1.6);
}

.welcomeHeader{
	background-color: #F2F2F2;
	color: #4D6971;
	font-family: 'helvetica', 'Georgia', serif; 
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: bold;
}

.mainBody{
	display: block;
	width: 100%;
	height: 90%;
	background-image: url('../resources/images/bgBig.jpg');
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
	
}

#bodyOverlay{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(73, 102, 110, 0.96);
}

.myButtonsContainer{
	margin: 50px;
	float: right;
	width: 40%;
	height: 80%;
	background-color: green;
}

.ContainerBox{

	margin: 45px;
	float: left;
	width: 500px;
	height: 350px;
	border-radius: 5px;
	font-family: 'Avenir', 'Georgia', serif; 
	font-size: 12px;
	color: #A0AEB2;
	margin-top: 150px;
}

.textContainerBox{
	letter-spacing: 2px;
	display: inline-block;
	margin-top: 100px;
	width: 600px;
	text-align: center;
}

#aboutMe{
	background-color: #EDEDED;
}

#myBtn{
	display: block;
	width: 100%;
	height: 80px;
	margin: 55px;
	margin-left: 0px;
}

button{
    outline: none;
	color: white;
	background-color: none;
	border: none;
	border-radius: 5px;
	width: 400px;
	height: 85px;
	font-family: 'helvetica', 'Georgia', serif; 
	letter-spacing: 5px;

}

hr { 

	display: block; 
	height: 0.5px;
    border: 0; 
    border-top: 1px solid #ccc;
    opacity: 0.3;
    padding: 0; 
	width: 50%;
}

.footer{
	position: relative;
	height: auto;
	width: 100%;

}

.contactContainer{
	padding: 25px;
	position: relative;
	margin: 0 auto;
	width: 700px;
	height: 30px;

}

#contactItem{
	bottom: 10%;
	padding: 40px;
	text-align: center;
}

#myProjectBackground{
	background-image: url('../resources/images/work.jpg');
}

#myMusicBackground{
	background-color: rgba(0,0,0,0);
	background-image: url('../resources/images/daw.png');
}

#mySkillsBackground{
	background-image: url('../resources/images/skillsimg.jpg');
}

#flstudio{
	position: relative;
	width:50%; 
	height: 220px; 
	float:left;
	background-image: url('../resources/images/FLStudio11.png');
	background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
}

#flstudioWrapper{
	width: 100%; 
	height: 100%; 
	display: inline-block;
	background-color: rgba(80, 227, 194, 0.9);
}

#myProjectSection{
	position: relative;
	width: 50%;
	height: auto;
	min-height: 100%;
	float: left;
}

.headerSection{

	width: 100%;
	height: 500px;
	display: block; 
	/*background-image: url('../resources/images/work.jpg');*/
    background-size:   cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 

}

#headerSectionOverlay{
	width: 100%;
	height: 500px;
	display: block;
	background-color: rgba(79, 107, 115, 0.78)
}

.overlayItem{

	color:white; 
	font-family: 'helvetica', 'Georgia', serif;
	font-weight: lighter;
	font-size: 15px;

}

#resume{
	color:#4f6b73; 
	font-weight:bold;
	font-family: 'helvetica', 'Georgia', serif;
	font-size: 10px;
}

#myMusicSection{

	width: 50%;
	height: auto;
	min-height: 100%;
	/*background-color: #EBBC26;*/
	float: left;

}

.downarrow{
	opacity: 1;
	display: block; 
	margin: 0 auto; 
	margin-top: 130px;
}

#mySkillsSection{
	position: relative;
	width: 50%;
	height: 100%;
	min-height: 100%;
	float: left;

}

#littleCircleWrapper{
	display: inline-block;
	height: auto;
	width: 800px;
}

.littleBoxText{
	font-family: 'helvetica', 'Georgia', serif;
	font-weight: bold;
	font-size: 18px;
	color: #4F6B73
}

.littleCircle{
	display: inline-block;
	margin: 0 auto;
	margin: 15px;
	width: 220px;
	height: 220px;
	border-radius: 110px;
	background-color: white;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	-o-transition:background 0.5s;
	transition:background 0.5s;
	cursor: pointer;
}

.infoBox{

	width: 900px;
	display: inline-block;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

#littleCircleItem{
	display: inline;
}

.littleBox{
	width: 100%;
	height: auto;
	display: block;
	/* background-color: #D37849; */
	background-color: white;
}

#littleBoxHeader{
	width: 100%;
	height: 50px;
	display: block;
}

#littleBoxHeaderItem{
	display: inline-block;
	color:white; 
	font-family: 'helvetica', 'Georgia', serif;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 13px;
}

.littleBoxTitleContainer{
	position: relative;
	width: 100%;
	height: 50px;
}

#littleBoxTitle{

	margin: 50px;
	margin-top: 30px;
	font-family: 'helvetica', 'Avenir', serif;
	font-weight: lighter;
	font-size: 28px;
	opacity: 0.49;
	color: #A0AEB2;
	display: inline;
	float: left;
}

#tagBox{

	padding: 10px;
	display: inline;
	border-radius: 18px;
	border-width: 2px;
	border-color: #D37849;
	border-style: solid;
	width:  auto;
	height: auto;
	float: left;
	margin: 10px;
	margin-top: 30px;
	color: #A0AEB2;
	font-family: 'Avenir', 'Georgia', serif; 
	font-size: 11px;
	font-weight: bold;

}

#descriptionBox{
	margin: 30px;
	margin-left: 50px;
	height: auto;
	text-align: left;
	clear: both;
}

#descriptionBoxText{
	display: inline-block;
	width: 800px;
	color: #C5CED0;
}


#didItWith{
	display: block;
	text-align: left;
	margin: 100px;
	margin-left: 50px;
	color: #D37849;
	font-weight: 600;
	font-size: 13px;
}

ul {
	list-style-type: none;
}

li {
    float: left;
    margin-right: 30px;
}

iframe{
	border: none;
	width: 1205px;
	height: 700px;
	margin-top: 100px;
	padding: 0px;
	border: solid;
	border-color: rgba(42,54,59,0.8);
	border-width: 5px;
	border-radius: 10px;
}

game{
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(42,54,59,0.7);
	position: absolute;
	z-index: 5000;
	opacity: 0;
	display: none;
}
.animated.flipInX{
	opacity: 1;
}

#uxUiCircle{
	opacity: 0;
}

#codingCircle{
	opacity: 0;
}

#musicCircle{
	opacity: 0;
}

 a:link, a:visited {
    color: #A0AEB2;
}

